# Projeto Prático 1.1 -- Explorando Dados

## Apresentação da Atividade

Vamos aprender um pouco mais sobre carros! Para tanto, vamos utilizar o [dataset AutoMPG](https://archive.ics.uci.edu/ml/datasets/auto+mpg), que contém informações de veículos do ano de 1983 apresentados em uma exposição nos EUA. O atributo alvo chama-se mpg, denotando milhas por galão, uma unidade de medida equivalente ao nosso quilômetro por litro.

In [1]:
# Célula reservada para importar bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Tarefa 1: Abrir o dataset

1. Baixe o arquivo 'autompg.csv' e o abra com a biblioteca pandas
2. Imprima o cabeçalho do dataset
3. Imprima os tipos de dados no dataset

In [2]:
dataset = pd.read_csv('autompg.csv', sep=";")

In [3]:
dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin,name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino

In [4]:
dataset.dtypes

mpg             float64
cylinders       float64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
modelyear       float64
origin          float64
name             object
dtype: object

## Tarefa 2: Conhecendo e limpando os dados

1. Imprima os nomes das colunas do datase
2. Quantos exemplos o dataset possui?
3. Quantos exemplos com dados faltantes o dataset possui?
4. Efetue a limpeza do dataset excluindo todos os exemplos em que há alguma informação faltando. Daqui em diante, considere essa versão do dataset.

In [5]:
for col in dataset.columns:
    print(col)

mpg
cylinders
displacement
horsepower
weight
acceleration
modelyear
origin
name

In [6]:
len(dataset)

406

In [7]:
cont=0
for i in range(len(dataset)):
    linha = dataset.loc[i].isnull()
    contou = False
    for j in linha:
        if j and not contou:
            cont+=1
            contou = True
            
print(cont)

14

In [8]:
dataset.dropna(inplace=True)

## Tarefa 3: Consulta aos dados

1. Calcule a média do atributo alvo mpg
2. Imprima o nome dos carros cujo consumo (mpg) é maior que a média
3. Qual o carro mais eficiente (maior mpg)?
4. Quantos carros foram fabricados após 1977?
5. Qual a cilindrada média dos carros fabricados entre 1980 e 1982?
6. Há quantos carros da marca Chevrolet no dataset? Imprima todas as características dos mesmos.

In [9]:
mean = dataset.mpg.mean()
mean

23.445918367346938

In [10]:
pd.DataFrame(dataset['name'][dataset['mpg']>=mean])

                                  name
20               toyota corona mark ii
24                        datsun pl510
25        volkswagen 1131 deluxe sedan
26                         peugeot 504
27                         audi 100 ls
28                            saab 99e
29                            bmw 2002
35                        datsun pl510
36                 chevrolet vega 2300
37                       toyota corona
57                           opel 1900
58                         peugeot 304
59                           fiat 124b
60                 toyota corolla 1200
61                         datsun 1200
62                volkswagen model 111
63                    plymouth cricket
64               toyota corona hardtop
65                  dodge colt hardtop
86                     renault 12 (sw)
88                     datsun 510 (sw)
90                     dodge colt (sw)
91            toyota corolla 1600 (sw)
109            volkswagen super beetle
121               fiat 124 sport coupe
124                           fiat 128
125                         opel manta
129                          saab 99le
136                        datsun b210
137                         ford pinto
..                                 ...
372              oldsmobile cutlass ls
375                 chevrolet cavalier
376           chevrolet cavalier wagon
377          chevrolet cavalier 2-door
378         pontiac j2000 se hatchback
379                     dodge aries se
380                    pontiac phoenix
381               ford fairmont futura
383                volkswagen rabbit l
384                 mazda glc custom l
385                   mazda glc custom
386             plymouth horizon miser
387                     mercury lynx l
388                   nissan stanza xe
389                       honda accord
390                     toyota corolla
391                        honda civic
392                 honda civic (auto)
393                      datsun 310 gx
394              buick century limited
395  oldsmobile cutlass ciera (diesel)
396         chrysler lebaron medallion
398                   toyota celica gt
399                  dodge charger 2.2
400                   chevrolet camaro
401                    ford mustang gl
402                          vw pickup
403                      dodge rampage
404                        ford ranger
405                         chevy s-10

[186 rows x 1 columns]

In [11]:
dataset['name'][dataset['mpg']==max(dataset['mpg'])]

329    mazda glc
Name: name, dtype: object

In [12]:
dataset['modelyear'][dataset['modelyear'] > 77].count()

150

In [13]:
maior_80 = dataset[['cylinders', 'modelyear']][dataset['modelyear']>=80]
entre_80_82 = maior_80[['cylinders', 'modelyear']][maior_80['modelyear']<=82]
entre_80_82['cylinders'].mean()

4.329411764705882

In [14]:
len(dataset[dataset['name'].str.contains('chevrolet')])

43

In [15]:
dataset[dataset['name'].str.contains('chevrolet')]

,mpg,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin,name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
6,14.0,8.0,454.0,220.0,4354.0,9.0,70.0,1.0,chevrolet impala
18,15.0,8.0,400.0,150.0,3761.0,9.5,70.0,1.0,chevrolet monte carlo
36,28.0,4.0,140.0,90.0,2264.0,15.5,71.0,1.0,chevrolet vega 2300
42,17.0,6.0,250.0,100.0,3329.0,15.5,71.0,1.0,chevrolet chevelle malibu
45,14.0,8.0,350.0,165.0,4209.0,12.0,71.0,1.0,chevrolet impala
53,22.0,4.0,140.0,72.0,2408.0,19.0,71.0,1.0,chevrolet vega (sw)
67,20.0,4.0,140.0,90.0,2408.0,19.5,72.0,1.0,chevrolet vega
69,13.0,8.0,350.0,165.0,4274.0,12.0,72.0,1.0,chevrolet impala
80,13.0,8.0,307.0,130.0,4098.0,14.0,72.0,1.0,chevrolet chevelle concours (sw)
94,13.0,8.0,350.0,145.0,3988.0,13.0,73.0,1.0,chevrolet malibu
98,13.0,8.0,400.0,150.0,4464.0,12.0,73.0,1.0,chevrolet caprice classic
105,16.0,6.0,250.0,100.0,3278.0,18.0,73.0,1.0,chevrolet nova custom
110,11.0,8.0,400.0,150.0,4997.0,14.0,73.0,1.0,chevrolet impala
116,21.0,4.0,140.0,72.0,2401.0,19.5,73.0,1.0,chevrolet vega
122,15.0,8.0,350.0,145.0,4082.0,13.0,73.0,1.0,chevrolet monte carlo s
135,15.0,6.0,250.0,100.0,3336.0,17.0,74.0,1.0,chevrolet nova
139,25.0,4.0,140.0,75.0,2542.0,17.0,74.0,1.0,chevrolet vega
140,16.0,6.0,250.0,100.0,3781.0,17.0,74.0,1.0,chevrolet chevelle malibu classic
160,18.0,6.0,250.0,105.0,3459.0,16.0,75.0,1.0,chevrolet nova
164,15.0,8.0,350.0,145.0,4440.0,14.0,75.0,1.0,chevrolet bel air
172,20.0,8.0,262.0,110.0,3221.0,13.5,75.0,1.0,chevrolet monza 2+2
194,17.5,8.0,305.0,140.0,4215.0,13.0,76.0,1.0,chevrolet chevelle malibu classic
199,22.0,6.0,250.0,105.0,3353.0,14.5,76.0,1.0,chevrolet nova
202,29.0,4.0,85.0,52.0,2035.0,22.2,76.0,1.0,chevrolet chevette
203,24.5,4.0,98.0,60.0,2164.0,22.1,76.0,1.0,chevrolet woody
228,17.5,8.0,305.0,145.0,3880.0,12.5,77.0,1.0,chevrolet caprice classic
232,17.5,6.0,250.0,110.0,3520.0,16.4,77.0,1.0,chevrolet concours
237,15.5,8.0,350.0,170.0,4165.0,11.4,77.0,1.0,chevrolet monte carlo landau
244,30.5,4.0,98.0,63.0,2051.0,17.0,77.0,1.0,chevrolet chevette
260,20.5,6.0,200.0,95.0,3155.0,18.2,78.0,1.0,chevrolet malibu
269,19.2,8.0,305.0,145.0,3425.0,13.2,78.0,1.0,chevrolet monte carlo landau
273,30.0,4.0,98.0,68.0,2155.0,16.5,78.0,1.0,chevrolet chevette
292,17.0,8.0,305.0,130.0,3840.0,15.4,79.0,1.0,chevrolet caprice classic
298,19.2,8.0,267.0,125.0,3605.0,15.0,79.0,1.0,chevrolet malibu classic (sw)
313,28.8,6.0,173.0,115.0,2595.0,11.3,79.0,1.0,chevrolet citation
318,32.1,4.0,98.0,70.0,2120.0,15.5,80.0,1.0,chevrolet chevette
320,28.0,4.0,151.0,90.0,2678.0,16.5,80.0,1.0,chevrolet citation
348,23.5,6.0,173.0,110.0,2725.0,12.6,81.0,1.0,chevrolet citation
375,28.0,4.0,112.0,88.0,2605.0,19.6,82.0,1.0,chevrolet cavalier
376,27.0,4.0,112.0,88.0,2640.0,18.6,82.0,1.0,chevrolet cavalier wagon
377,34.0,4.0,112.0,88.0,2395.0,18.0,82.0,1.0,chevrolet cavalier 2-door
400,27.0,4.0,151.0,90.0,2950.0,17.3,82.0,1.0,chevrolet camaro

## Tarefa 4: Estatística Descritiva

Para o atributo alvo 'mpg', calcule:
 1. Média
 2. Mediana
 3. Máximo
 4. Mínimo
 5. Desvio Padrão
 6. Skewness
 7. Curtose
 6. Há outliers? (Valores de mpg acima ou abaixo da média + 2 desvios padrões)?
 7. Responda: O que se pode afirmar a respeito da distribuição de dados desse atributo?

In [16]:
dataset['mpg'].mean()

23.445918367346938

In [17]:
dataset['mpg'].median()

22.75

In [18]:
dataset['mpg'].max()

46.6

In [19]:
dataset['mpg'].min()

9.0

In [20]:
dataset['mpg'].std()

7.8050074865717995

In [21]:
dataset['mpg'].skew()

0.45709232306041025

In [22]:
dataset['mpg'].kurtosis()

-0.5159934946351457

In [23]:
media = dataset.mpg.mean()
dp = dataset.mpg.std()
dataset['mpg'][dataset['mpg'] > media+2*dp].count()>0 or dataset['mpg'][dataset['mpg'] < media-2*dp].count()>0

True

### Resposta 9:

Temos que:

Média = 23.44591836734694

Mediana = 22.75

Moda = 13

ou seja:

Moda<Mediana<Média

Portanto, trata-se de uma distribuição assimétrica positiva. Os dados se encontram, principalmente, no início da distribuição.

## Tarefa 5: Identificando correlações

1. Qual a correlação entre o peso do chassi (weight) e o consumo (mpg)?
2. Essa medida de correlação é mais forte ao considerarmos apenas os carros da marca Toyota?
3. Qual a correlação entre a potência (horsepower) e o consumo (mpg) para os veículos do dataset?

In [24]:
correlacoes = dataset.corr()
correlacoes['weight']['mpg']

-0.8322442148315756

In [25]:
correlacoes_toyota = dataset[dataset['name'].str.contains('toyota')].corr()
abs(correlacoes_toyota['weight']['mpg']) > abs(correlacoes['weight']['mpg'])

False

In [26]:
correlacoes['horsepower']['mpg']

-0.7784267838977751

## Tarefa 6: Preparando uma partição do tipo Holdout

1. Remova do dataset a coluna 'name'
2. Exclua o atributo alvo mpg do dataset e o atribua a uma variável Y
3. Efetue uma partição holdout 70/30 utilizando o sci-kit learn.
 - Para auxiliar, consulte a [documentação](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [27]:
dataset.drop(['name'], axis=1, inplace=True)

In [28]:
y = dataset['mpg']

dataset.drop(['mpg'], axis=1, inplace=True)

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(dataset, y, test_size=0.30)